@font-face {
    font-family: 'iconfont';  /* 精准扶贫 id 665405 */
    src: url('https://at.alicdn.com/t/font_665405_q3n4qm4rmnobhuxr.eot');
    src: url('https://at.alicdn.com/t/font_665405_q3n4qm4rmnobhuxr.eot?#iefix') format('embedded-opentype'),
    url('https://at.alicdn.com/t/font_665405_q3n4qm4rmnobhuxr.woff') format('woff'),
    url('https://at.alicdn.com/t/font_665405_q3n4qm4rmnobhuxr.ttf') format('truetype'),
    url('https://at.alicdn.com/t/font_665405_q3n4qm4rmnobhuxr.svg#iconfont') format('svg');
}
*{
    box-sizing: border-box;
}
.head{
    width: 100%;
    height: 138px;
    background: #1180ca;
}
.head_top{
    width: 100%;
    height: 50px;
    background: #221815;
}
.head_top_content{
    width: 1200px;
    height: 50px;
    margin: 0 auto;
}
.head_top_content_left,.head_top_content_right{
    font-size: 14px;
    color: #d4d4d3;
    float: left;
    line-height: 50px;
}
.head_top_content_right{
    float: right;
}
.head_white{
    width: 50%;
    background: #fff;
    height: 88px;
    position: relative;
}
.head_bottom_box{
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
}
.head_bottom{
    width: 1200px;
    height: 88px;
    margin: 0 auto;
    position: relative;
}
.head_bottom_left{
    width: 162px;
    height: 88px;
    float: left;
    position: relative;
}
.head_bottom_left_item{
    width: 140px;
    height: 44px;
    background: #1180ca;
    margin-top: 22px;
    color: #fff;
    float: left;
}
.head_bottom_left_wenzi{
    color: #fff;
    font-size: 48px;
    line-height:88px ;
    float: left;
    position: absolute;
    right: -14px;
    z-index: 20;

}
.head_bottom_right{
    width: 1038px;
    height: 88px;
    float: left;
    z-index: 20;
}
.head_bottom_right_item{
    width: 173px;
    height: 88px;
    background: #1180ca;
    float: left;
    text-align: center;
    line-height: 88px;
    color: #fff;
    position: relative;
}
.head_bottom_right_item img{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom:21px;
    opacity: 0;
}
.head_bottom_right .active{
    background: #02adf0;
}
.active img{
    opacity: 1;
}
.zuiyou{
    width: 500px;
    height: 88px;
    background: #1180ca;
    position: absolute;
    right:-300px;
}
.nav{
    width: 1200px;
    height: 193px;
    margin: 0 auto;
}
.fmain{
    margin-top: 63px;
    width: 100%;
}
.fmain_box{
    width: 1200px;
    margin: 0 auto;
}
.fmain_box_title p{
    font-size: 18px;
    float: left;
    margin-right: 20px;
}
.fmain_box_title a{
    font-size: 18px;
    float: left;
    font-weight: bold;
    margin-right: 12px;
    color: #000;
}
.fmain_box_title span{
    font-size: 16px;
    float: left;
    color: #666666;
    font-weight: bold;
    margin-right: 17px;
}
.fmain_box_img{
    margin-top: 28px;
    background: url("../imgs/t1.jpg");
    width: 1200px;
    height: 84px;
}
.fmain_box_xtitle{
    height: 43px;
    width: 1200px;
    margin: 0 auto;
    margin-top: 18px;
    background: #1080CA;
    padding-left: 35px;
}
.fmain_box_xtitle h1{
    font-size: 18px;
    font-weight: bold;
    line-height: 43px;
    color: #fff;
    font-family: "微软雅黑";
    float: left;
}
.fmain_box_xtitle_dline{
    width: 2px;
    height: 12px;
    background: #fff;
    margin-top: 17px;
    margin-left: 10px;
    float: left;
}
.fmain_box_xtitle_cline{
    width: 2px;
    height: 18px;
    background: #fff;
    margin-top: 14px;
    margin-left: 3px;
    float: left;
    margin-right: 10px;
}
.fmain_box_xtitle_circle{
    width: 1032px;
    display: flex;
    justify-content: space-between;
    color: #fff;
    line-height: 33px;
}
.fmain_box_content{
    border: 1px solid #999999;
    height: auto;
}
.fmain_box_content_item{
    width: 1130px;
    padding-top: 40px;
    margin: 0 auto;
    margin-top: -16px;
    padding-bottom: 45px;
    border-bottom: 1px solid #02ADF0;
}
.fmain_box_content_item_xbox{
    height: 40px;
    width: 1130px;
    position: relative;
}
.fmain_box_content_item_xbox_left{
    width: 8px;
    height: 8px;
    float: left;
    border-radius: 50%;
    background: #02ADF0;
    margin-top: 16px;
}
.fmain_box_content_item_xbox_wen p{
    margin-left: 25px;
    line-height: 40px;
    float: left;
}
.fmain_box_content_item_xbox_timeicon{
    font-size: 14px;
    float: right;
    position: absolute;
    right: 90px;
    line-height: 40px;
}
.fmain_box_content_item_xbox_timeicon span{
    font-family: 'iconfont';
    color: #02ADF0;
}
.fmain_box_content_item_xbox_time p{
    float: right;
    line-height: 40px;
    font-size: 12px;
    color: #666666;
    position: absolute;
    right: 0;
}
.fmain_box_di{
    width: 1069px;
    height: 6px;
    margin: 0 auto;
    background: #1080CA;
}
.fmain_box_apply{
    margin-top: 43px;
}
.fmain_box_content_bbox{
    width: 1124px;
    margin: 0 auto;
    height: auto;
}
.fmain_box_content_bbox_item{
    margin-top: 28px;
}
.fmain_box_content_bbox_left{
    border-left: 2px solid #000;
    border-right: 2px solid #000;
    width: 91px;
    height: 18px;
    float: left;
}
.fmain_box_content_bbox_left h1{
    font-size:18px;
    line-height: 18px;
    text-align: center;
    font-weight: bold;
}
.fmain_box_content_bbox_rig{
    margin-left: 42px;
    width: 192px;
    border: none;
    float: left;
    border-bottom: 1px #C1C1C1 solid;
}
.special{
    width: 991px;
    height: auto;
    border: none;
}
.kuang{
    width: 991px;
    height: 135px;
    background: #FAFAFA;
    resize:none
}
.special p{
    font-size: 16px;
    color: #B6B6B6;
    margin-top: 10px;
    margin-left: 8px;
}
.special h1{
    font-size: 16px;
    color: #666666;
    margin: 18px 37px 0 8px;
    font-weight: bold;
    float: left;
}
.shuru{
    width: 328px;
    height: 20px;
    border: none;
    border-bottom: 1px #C1C1C1 solid;
}
.send{
    float: right;
    margin-top: 34px;
    background: #02ADF0;
    width: 152px;
    height: 43px;
    margin-bottom: 50px;
    position: relative;
}
.send input{
    border: none;
    background: none;
    width: 152px;
    height: 43px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    line-height: 43px;
    cursor: pointer;
}
.zhuangshi{
    position: absolute;
    height: 23px;
    width: 4px;
    left: -2px;
    top: 10px;
    background: #000;
}
.zhuangshi2{
    position: absolute;
    height: 23px;
    width: 4px;
    right: -2px;
    top: 10px;
    background: #000;
}
.ffooter{
    width: 100%;
    height: 235px;
    background: url("../imgs/f1.jpg");
    background-size: cover;
    margin-top: 46px;
    padding-top: 100px;
    word-break: break-all;
}
.ffooter_shang{
    line-height: 12px;
    text-align: center;
}
.ffooter_shang span{
    font-size: 12px;
    color: #fff;
    margin-right: 12px;
}
.ffooter_zhong{
    text-align: center;
    margin-top: 10px;
    font-size: 12px;
    color: #fff;
}
